{% extends "home/base.html" %}
<!-- banner -->
{% block banner %}
<div class="banner w-full relative">
    <img
        class="opacity-80 blur-sm object-cover w-full md:h-[432px] h-[332px]"
        src="https://d43czlgw2x7ve.cloudfront.net/timelink/mobile.jpg"
    />
    <div class="banner-text absolute lg:top-18 lg:mx-36 top-10 mx-10">
        <h1 class="text-6xl font-bold text-white">TimeLink</h1>
        <h1 class="text-3xl font-bold text-white">與顧客聯繫沒有時間限制，</h1>
        <h1 class="text-3xl font-bold text-white">
            你的 Line 群組，可以做得更多。
        </h1>

        <a
            href="/signup"
            class="btn text-lg border-2 hover:bg-primary-green hover:text-white w-fit h-12 mt-8"
            >立即註冊</a
        >
    </div>
</div>
{% endblock %}

<!-- main -->
{% block main %}
<div id="features" class="grid lg:grid-cols-3 sm:grid-cols-2 sm:gap-4 gap-0">
    <div class="card sm:rounded-xl rounded-b-none h-fit relative">
        <h2>簡單易用</h2>
        <p>只需三步驟，你的群組即可啟用 TimeLink 機器人。</p>
    </div>
    <div class="card sm:p-6 py-0 sm:rounded-xl rounded-none h-fit relative">
        <h2>全天服務</h2>
        <p>24 小時不間斷，群組中機器人隨時都能服務顧客。</p>
    </div>
    <div class="card sm:rounded-xl rounded-t-none h-fit relative">
        <h2>介面簡約</h2>
        <p>管理介面簡約，群組與顧客資訊一目瞭然。</p>
    </div>
</div>
<div class="card p-0 h-fit w-full mt-8 sm:flex items-center overflow-hidden">
    <div class="md:w-1/4 text-secondary-blue md:p-8 p-4">
        <h1 class="md:text-3xl text-2xl">即時接收預約資訊</h1>
        <p class="lg:block hidden">
            您可以透過後台管理介面，即時接收來自 Line 群組內顧客的預約資訊。
        </p>
    </div>
    <div class="md:w-3/4">
        <img
            class="w-full"
            src="https://d43czlgw2x7ve.cloudfront.net/timelink/reserve_realtime.gif"
        />
    </div>
</div>
{% endblock %}
<!-- page script -->
{% block script %} {% endblock %}
