{% extends "home/base.html" %}
<!-- title -->
{% block title %}Signup | {% endblock %}
<!-- Signup -->
{% block main %}
<div class="flex justify-center">
    <div id="signup_card" class="card w-96 h-fit m-10">
        <h2>成為會員</h2>
        <form id="signup-form" class="grid grid-rows-6 input-all gap-4 mt-4">
            <input
                type="text"
                name="username"
                id="username"
                placeholder="Username"
                required
            />
            <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                required
            />
            <input
                type="text"
                name="name"
                id="name"
                placeholder="Name"
                required
            />
            <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                required
            />
            <input
                type="tel"
                name="phone"
                id="phone"
                placeholder="Phone"
                required
            />
            <button id="signup_submit" class="btn-card self-end">註冊</button>
        </form>
    </div>
</div>
{% endblock %}

<!-- script -->
{% block script %}
<script
    type="module"
    src="{{ url_for('static', filename='js/signup.js') }}"
></script>
{% endblock %}
