.env
*.log
.venv/
config.py

*.sh

.pytest_cache/
.coverage
htmlcov/
*.egg-info/

.DS_Store
__pycache__/
*.pyc
.vscode

note.sql

node_modules/

alembic.ini
# React Component Preview
previewConfig.json