<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css') }}"
        />
        <title>TimeLink Booking System</title>
    </head>
    <body>
        <div class="grid grid-cols-3 w-full gap-2 p-2" id="container"></div>
        <script
            charset="utf-8"
            src="https://static.line-scdn.net/liff/edge/2/sdk.js"
        ></script>
        <script>
            function renderService(data) {
                const container = document.getElementById("container");
                const service = document.createElement("div");

                let imgUrl =
                    "https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg";
                if (data.image) {
                    imgUrl = data.image;
                }

                service.className = "service h-1/2";
                service.innerHTML = `
                    <h2 class="service-name text-center">${data.name}</h2>
                    <img class="mb-2 object-cover" src="${imgUrl}">
                    <a class="btn-card w-fit mx-auto" href="/liff/service/${data.id}" class="service-url">點此預約</a>
                   
                `;
                container.appendChild(service);
            }

            function showSpinner() {
                const container = document.getElementById("container");
                container.textContent = "讀取中...";
            }

            function closeSpinner() {
                const container = document.getElementById("container");
                container.textContent = "";
            }

            async function createServices(groupId) {
                await showSpinner();
                const response = await fetch(
                    `/api/services?groupId=${groupId}`
                );
                const responseJson = await response.json();
                await closeSpinner();
                responseJson.data.forEach((data) => {
                    renderService(data);
                });
            }

            liff.init({
                liffId: "1657198810-v359xpYa",
            })
                .then(() => {
                    const context = liff.getContext();
                    createServices(context.groupId);
                })
                .catch((err) => {
                    console.log(err);
                });
        </script>
    </body>
</html>
