{% extends "board/layout/base.html" %}
<!-- title -->
{% block title %}Document | {% endblock %}
<!-- main -->
{% block main %}

<h1>Time<span style="color: #44ad53">Link</span> Guideline</h1>
<h3>三步驟啟用 TimeLink Bot</h3>

<div class="px-8">
    <article class="flex my-4">
        <div class="w-full">
            <h3>STEP 1</h3>
            <p class="text-lg">Line 掃描 QRCODE 加入 TimeLink 好友。</p>
        </div>
        <div class="flex items-center justify-center w-full">
            <img
                class="w-40"
                src="https://d43czlgw2x7ve.cloudfront.net/timelink/timelink_qr.png"
            />
        </div>
    </article>
    <article class="flex my-4">
        <div class="w-full">
            <h3>STEP 2</h3>
            <p class="text-lg">將 TimeLink 邀請進開設的群組內，並跟從指示。</p>
        </div>
        <div class="flex items-center justify-center w-full">
            <img
                class="w-60"
                src="https://d43czlgw2x7ve.cloudfront.net/timelink/linebot_init.gif"
            />
        </div>
    </article>
    <article class="flex my-4">
        <div class="w-full">
            <h3>STEP 3</h3>
            <p class="text-lg">至 Line 群組管理，註冊群組 ，以開通後台功能。</p>
        </div>
    </article>
</div>

{% endblock %}
