{% extends "board/layout/base.html" %}

<!-- title -->
{% block title %}Reserve | {% endblock %}

<!-- main -->
{% block main %}
<div class="flex flex-col h-full gap-4">
    <div
        id="groups_container"
        class="card basis-1/5 w-full flex p-4 gap-4 overflow-auto text-secondary-gray relative"
    >
        <!-- fetched data -->
        <div
            id="groupLoader"
            class="loader loader--style3 absolute right-1/2 top-1/2 translate-y-[-50%] translate-x-[50%]"
        >
            <svg
                version="1.1"
                id="loader-1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="40px"
                height="40px"
                viewBox="0 0 50 50"
                style="enable-background: new 0 0 50 50"
                xml:space="preserve"
            >
                <path
                    fill="#44ad53"
                    d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z"
                >
                    <animateTransform
                        attributeType="xml"
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="0.6s"
                        repeatCount="indefinite"
                    />
                </path>
            </svg>
        </div>
    </div>
    <div
        id="reservesCard"
        class="card basis-4/5 w-full p-4 overflow-auto relative"
    >
        <div
            id="reservesLoader"
            class="loader loader--style3 absolute right-1/2 top-1/2 translate-y-[-50%] translate-x-[50%]"
        >
            <svg
                version="1.1"
                id="loader-1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="60px"
                height="60px"
                viewBox="0 0 50 50"
                style="enable-background: new 0 0 50 50"
                xml:space="preserve"
            >
                <path
                    fill="#44ad53"
                    d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z"
                >
                    <animateTransform
                        attributeType="xml"
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="0.6s"
                        repeatCount="indefinite"
                    />
                </path>
            </svg>
        </div>
        <table class="w-full h-fit border-collapse bg-whitetext-sm shadow-sm">
            <thead class="w-full bg-secondary-gray">
                <tr class="text-white font-semibold">
                    <th class="w-1/4 border border-slate-300 p-1">成員</th>
                    <th class="w-1/4 border border-slate-300 p-1">服務</th>
                    <th class="w-1/4 border border-slate-300 p-1">預約時段</th>
                    <th class="w-1/4 border border-slate-300 p-1">建立日期</th>
                </tr>
            </thead>
            <tbody id="reserves_container" class="text-secondary-gray">
                <!-- fetched data -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

<!-- script -->
{% block script %}
<script
    src="https://cdn.socket.io/4.5.0/socket.io.min.js"
    integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
    crossorigin="anonymous"
></script>
<script
    type="module"
    src="{{ url_for('static', filename='js/reserves.js') }}"
></script>
{% endblock %}
