{% extends "home/base.html" %}
<!-- banner -->
{% block banner %}
<div class="banner w-full relative">
    <img
        class="opacity-80 blur-sm object-cover w-full md:h-[432px] h-[332px]"
        src="https://d43czlgw2x7ve.cloudfront.net/timelink/mobile.jpg"
    />
    <div class="banner-text absolute top-1/2 translate-y-[-50%] md:mx-36 mx-6">
        <h1 class="sm:text-6xl text-5xl font-bold text-white">TimeLink</h1>
        <h1 class="sm:text-3xl text-2xl font-bold text-white">
            與顧客聯繫沒有時間限制，
        </h1>
        <h1 class="sm:text-3xl text-2xl font-bold text-white">
            你的 Line 群組，可以做得更多。
        </h1>
        <div class="flex sm:gap-4 gap-2">
            <a
                href="/signup"
                class="btn text-lg border-2 bg-primary-green border-primary-green hover:text-white hover:border-white w-fit h-12 sm:mt-8 mt-2"
                >商家註冊</a
            >
            <a
                href="#experience"
                class="btn text-lg bg-secondary-blue border-secondary-blue hover:border-white hover:text-white border-2 w-fit h-12 sm:mt-8 mt-2"
                >顧客體驗</a
            >
        </div>
    </div>
</div>
{% endblock %}

<!-- main -->
{% block main %}
<div id="features" class="grid lg:grid-cols-3 sm:grid-cols-2 sm:gap-4 gap-0">
    <div class="card sm:rounded-xl rounded-b-none h-fit relative">
        <h2>簡單易用</h2>
        <p>只需三步驟，你的群組即可啟用 TimeLink 機器人。</p>
    </div>
    <div class="card sm:p-6 py-0 sm:rounded-xl rounded-none h-fit relative">
        <h2>全天服務</h2>
        <p>24 小時不間斷，群組中機器人隨時都能服務顧客。</p>
    </div>
    <div class="card sm:rounded-xl rounded-t-none h-fit relative">
        <h2>介面簡約</h2>
        <p>管理介面簡約，群組與顧客資訊一目瞭然。</p>
    </div>
</div>
<div
    class="card p-0 h-fit w-full sm:mt-8 mt-2 sm:flex items-center overflow-hidden"
>
    <div class="md:w-1/4 text-secondary-blue md:p-8 p-4">
        <h1 class="md:text-3xl text-2xl">即時接收預約資訊</h1>
        <p class="lg:block hidden">
            您可以透過後台管理介面，即時接收來自 Line 群組內顧客的預約資訊。
        </p>
    </div>
    <div class="md:w-3/4">
        <img
            class="w-full"
            src="https://d43czlgw2x7ve.cloudfront.net/timelink/reserve_realtime.gif"
        />
    </div>
</div>
<div
    id="experience"
    class="card p-8 h-fit w-full sm:mt-8 mt-2 text-secondary-blue"
>
    <h1 class="md:text-3xl text-2xl">成為顧客，體驗預約服務。</h1>
    <div
        class="grid xl:grid-cols-5 xl:grid-rows-1 md:grid-cols-3 md:grid-rows-2 grid-cols-1 items-center md:justify-items-start justify-items-center"
    >
        <div class="justify-self-start">
            <p class="font-bold">STEP 1</p>
            <p>與 TimeLink 機器人成為好友</p>
        </div>
        <img
            class="w-48 h-48 xl:col-span-1 md:col-span-2"
            src="https://d43czlgw2x7ve.cloudfront.net/timelink/timelink_qr.png"
        />
        <div class="justify-self-start">
            <p class="font-bold">STEP 2</p>
            <p>任選加入體驗群組</p>
        </div>
        <div class="w-fit h-fit">
            <img
                class="w-48 h-48"
                src="https://d43czlgw2x7ve.cloudfront.net/timelink/line_group_123.jpeg"
            />
            <p class="font-light text-center">123攝影</p>
        </div>
        <div class="w-fit h-fit">
            <img
                class="w-48 h-48"
                src="https://d43czlgw2x7ve.cloudfront.net/timelink/line_group_demo.jpeg"
            />
            <p class="font-light text-center">demo</p>
        </div>
    </div>
    {% endblock %}
    <!-- page script -->
    {% block script %} {% endblock %}
</div>
