<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <!-- meta -->
        {% include 'board/layout/meta.html' %}
        <!-- link -->
        {% include 'board/layout/link.html' %}
        <!-- style -->
        {% block style %}{% endblock %}

        <title>{% block title %}{% endblock %}TimeLink</title>
    </head>
    <body class="font-sans bg-primary-white">
        <div class="lg:flex h-full">
            <!-- area-l -->
            {% include'board/layout/sidebar.html' %}
            <!-- area-r -->
            <main
                class="lg:basis-4/5 lg:px-8 px-2 lg:py-16 py-2 overflow-y-auto relative lg:h-screen h-full"
            >
                <!-- main  -->
                {% block main %}{% endblock %}
            </main>
        </div>

        <!-- script -->
        {% include'board/layout/script.html' %}
        <!-- page script -->
        {% block script %}{% endblock %}
    </body>
</html>
