{% extends "layout/base.html" %}
<!-- title -->
{% block title %}Service | {% endblock %}
<!-- main -->
{% block main %}
<form class="mb-3" action="{{ url_for('service.add_service') }}" method="post">
    <div class="mb-3">
        <label for="select_group" class="form-label">群組名稱</label>
        <select name="group_id" id="select_group" class="form-select">
            <option selected>已連結群組</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">服務名稱</label>
        <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            required
        />
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">價格</label>
        <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            required
        />
    </div>
    <button type="submit" class="btn btn-services">新增</button>
</form>

<h2>服務列表</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">服務名稱</th>
            <th scope="col">價格</th>
            <th scope="col">所在群組</th>
        </tr>
    </thead>
    <tbody id="services_list"></tbody>
</table>
{% endblock %}
<!-- script -->
{% block script %}
<script src="{{ url_for('static', filename='js/service.js') }}"></script>
{% endblock %}
