<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="ChengTze" />
        <link
            rel="icon"
            href="{{ url_for('static', filename='img/timelink-logo.png') }}"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <style>
            .btn-success {
                background-color: #44ad53;
                border: #44ad53;
            }
        </style>
        <title>TimeLink</title>
    </head>
    <body>
        <div class="vh-100 position-relative">
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="card">
                    <form
                        action="{{ url_for('user.signin') }}"
                        method="post"
                        class="card-body"
                    >
                        <h4>Time<span style="color: #44ad53">Link</span></h4>
                        <div class="mb-3">
                            <label for="username" class="form-label"
                                >帳號</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="username"
                                name="username"
                                value="test"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label"
                                >密碼</label
                            >
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                value="test"
                                required
                            />
                        </div>
                        <div
                            class="d-flex justify-content-between align-items-center"
                        >
                            <button type="submit" class="btn btn-success">
                                登入
                            </button>
                            <a href="/signup"> 未註冊帳號？點此註冊 </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
